{% extends 'index.html' %}
{% load static %}

{% block title %}
    ADD COLABORADOR
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/addColabo.css' %}">
{% endblock %}

{% block body %}
    <div class="form-div">
        <form method="POST">
            <h1>Cadastrar Atendente</h1>
            {% csrf_token %}
            <div class="input-group">
                         <label for="username">Usuário</label>
                         <input type="text" id="username" name="username" required/>

                    </div>
                    <div class="input-group">
                        <label for="password">Senha</label>
                        <input type="password" id="password" name="password" required/>
                    </div>
                    <button type="submit">Cadastrar</button>
                    {% if alerta %}
                        <p class="mlk-chato">{{ alerta }}</p>
                    {% endif %}
        </form>
    </div>
{% endblock %}