{% extends 'index.html' %}
{% load static %}

{% block title %}
    ADD COLABORADOR
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/addColabo.css' %}">
{% endblock %}

{% block body %}
    <div class="form-div">
        <form method="POST">
            <h1>Cadastrar Atendente</h1>
            {% csrf_token %}
            <div class="form-tag">
                <label for="username">Nome atendente: </label>
                {{form.username}}
            </div>
            <div class="form-tag">
                <label for="password">Senha atendente: </label>
                {{form.password}}
            </div>

            <button type="submit">Cadastrar</button>

        </form>
    </div>
{% endblock %}