/* Reset básico */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fundo da página */
body {
  background-color: #f4f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-div{
    background-color: white;
    padding: 40px;
    margin-top: 50px;
    border-radius: 16px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
}

/* Container do formulário */
.form-div {
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}

/* Título */
.form-div h1 {
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 30px;
}

.form-tag{
    text-align: left;
}

/* Campos */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 14px;
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: #eef3fe;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
}

/* Botão */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #e2d4bd;
  border-radius: 12px;
  font-weight: bold;
  color: #2d2d2d;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #d5c7ad;
}
